{% load static %}

<html> 
    <head> <title> </title> 
        <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static 'css/monuments.css' %}">
    </head>
    <body style="border:green solid 3px; padding-bottom: 0%;" >
        
         <nav>
      <a href="">Home</a>
      <a href="">About</a>
      <a href="">Blog</a>
      <a href="">Contact Us</a>
    </nav>
    <div class="monument" style="display: inline-table;">
    <img src="{% static 'images/1.jpg' %}" alt="">
    <p style="padding-top: 10px;">
        TAJ MAHAL originally Rauza-i-munawwara 
    
    <button class="button" > Select</button>
    </p>
    </div>
    <div class="monument" style="display: inline-table;">
    <img src="{% static 'images/2.jpg' %}" alt="">
    <p style="padding-top: 10px;">
        The Great Wall of China
      

       <button class="button" > Select</button>
    </p>
</div>

<div class="monument" style="display: inline-table;">
    <img src="{% static 'images/3.jpg' %}"alt="">
    <p style="padding-top: 10px;">
        The Colosseum  is an oval amphitheatre 
    
    <button class="button" > Select</button>
    </p>
    </div>
<br>

<div class="monument1" style="display: inline-table;">
    <img src="{% static 'images/4.jpg' %}" alt="">
    <p style="padding-top: 10px;">
        CHRIST THE REDEEMER

        <button class="button" > Select</button>
    </p>
    
</div>
<div class="monument1" style="display: inline-table;">
    <img src="{% static 'images/5.jpg' %}" alt="">
    <p style="padding-top: 10px;">
        Mount Rushmore National Memorial 
        <button class="button" > Select</button>
    </p>
</div>

<div class="monument1" style="display: inline-table;">
    <img src="{% static 'images/6.jpg' %}" alt="">
    <p style="padding-top: 10px;">
        The Eiffel Tower 
    
    <button class="button" > Select</button>
    </p>
    </div>
    </body>
</html>